$font-file-path: '/assets/fonts';

@use '@lukso/web-components/tools/sass/main.scss';

body {
  font-family: Arial, Helvetica, sans-serif;
}

.demo-container {
  border-radius: 25px;  /* Optional property */
  overflow: hidden;  /* Optional property only if wanted set border radius */
  height: 100vh; /* If the container has no height, then it is mandatory to set some height*/
  width: 100vw; /* If the container has no width, then it is mandatory to set some width */
}